In [9]:
# Python es Case Sensitive
A = "Backend Python"
a = "El curso es "
print(a + A)

El curso es Backend Python

In [11]:
# Palabras reservadas
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [55]:
# Caracteres de escape
"\'" # Comilla sencilla
'\"' # Comilla doble
"\n" # Salto de linea
"\t" # Tab
"\r" # Carriage return - ignora lo que estaba adelante de donde se coloque
"\b" # Retorno - elimina el caracter antes de donde se coloque
"\###" # Octal
"\x##" # Hexadecimal

'\t'

In [59]:
a = "Salto\b de línea \n \110\157\154\141 \n \x48\x6f\x6c\x61"
print(a)

Salt de línea
 Hola
 Hola

FUNCIONES MATEMÁTICAS

In [100]:
# Eval revisa por tipo de dato
number = 22
print(eval("number + 1000"))

1022

In [5]:
entrada = input("Ingresa una número: ")
entrada # Lo toma como string
eval(entrada) # Lo toma como int

Ingresa una número:  45

45

In [9]:
print(type(entrada)) # Type devuelve el tipo de dato

<class 'str'>

In [98]:
# Range crea un rango, tiene 3 parametros
# range(start, stop, step)

x = range(10)
x

range(0, 10)

In [95]:
for number in x:
    print(number)

0
1
2
3
4
5
6
7
8
9

In [124]:
y = range(3, 7)
for number in y:
    print(number)

3
4
5
6

In [122]:
z = range(3, 10, 2)
for number in z:
    print(number)

3
5
7
9

MUTABILIDAD E INMUTABILIDAD EN ESTRUCTURAS DE DATOS

In [137]:
# Las tuplas () son inmutables
tupla = (1, 2, 3, 4, 5)
tupla[0] = 6

TypeError: 'tuple' object does not support item assignment

In [135]:
# Las listas [arrays] no lo son
lista = [1, 2, 3, 4, 5]
lista[0] = 6
lista

[6, 2, 3, 4, 5]

In [15]:
# Los sets {objetos} son inmutables
myset = {1, 2.0, "Tres", False}
myset[0] = True
myset

TypeError: 'set' object does not support item assignment

In [23]:
# Los diccionarios {arrays asociativos llave-valor} no lo son
diccionario = {"a":1, "b":2.0, "c":"Tres", "d":False}
diccionario["a"] = True
diccionario

{'a': True, 'b': 2.0, 'c': 'Tres', 'd': False}

FUNCION ID

In [29]:
# Obtener la dirección de memoria
number = 22
print(number)
print(type(number))
print(id(number))

22
<class 'int'>
140715103824984

MULTIPLES VALORES DE ENTRADA

In [38]:
# Split separa elementos de una cadena, su parametro es el caracter a buscar (espacio, coma, guión)
a, b, c = input("Ingresa los valores: ").split()
print("El valor 1 es: ", a,", el valor 2 es: ", b," y el valor 3 es: ", c)

Ingresa los valores:  23 45 21

El valor 1 es:  23 , el valor 2 es:  45  y el valor 3 es:  21